.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color:darkblue;
}   
h4 {
    color:cornflowerblue;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
