img {
    width:160px;
    height:210px;
    float:left;
}
div{
    text-align: justify;
    display: inline-block;
    
}
.container{
    width: 700px; 
}
input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}


input[type=text]:focus {
    width: 100%;
}