

        <iframe style="float:left" 
        width="450"
        height="350"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyAyTCqluwAsI4NxM-cpDPmOiCb6OJpFyv0
          &center=42.651724,23.342470&zoom=20
          &maptype=satellite" allowfullscreen>
        </iframe>
        
                <div class="dotted">
                        <label>Physical adress</label>
                        <p>{{adress}}</p>
                        </div>

                        <br>
                        <div  class="dotted">
                        <label>Working time</label>
                        <p>{{hours}}</p>
                        </div>
                        <br>
                        <div  class="dotted">
                        <label>Mobile phone number</label>
                        <p>{{number}}</p>
                        </div>
                        <br>
                        <div class="dotted">
                        <label>Email</label>
                        <p>{{email}}</p>
                        </div>
                    
        